code,name,name_ja,market,industry,is_active
1301,Kyokuyo Co. Ltd.,極洋,Prime,Fishery Agriculture and Forestry,true
7203,Toyota Motor Corporation,トヨタ自動車,Prime,Automobiles,true
6758,Sony Group Corporation,ソニーグループ,Prime,Electric Appliances,true
